<!DOCTYPE html>
<div id="canvas"></div>
<h2 id="gyro">h1 sd</h2>
<h2 id="reset">RESET</h2>
<h2 id="up">UP</h2>
<p id="deviceorientation" style="min-height:30em;">
  <p id="alpha"></p>
  <p id="beta"></p>
  <p id="gamma"></p>
</p>
